<div>
  <nav>
   <ul>
    <li><app-auth-button></app-auth-button></li>
    <li routerLinkActive="menuSelected"><a [routerLink]="['/home']">Inicio</a></li>
    <li routerLinkActive="menuSelected"><a [routerLink]="['/graficos/edad']">Edad</a></li>
    <li routerLinkActive="menuSelected"><a [routerLink]="['/graficos/sangre']">Tipo Sangre</a></li>
    <li routerLinkActive="menuSelected"><a [routerLink]="['/graficos/estrato']">Estrato</a></li>
    <li routerLinkActive="menuSelected"><a [routerLink]="['/graficos/localidad']">Localidad</a></li>
    <li routerLinkActive="menuSelected"><a [routerLink]="['/graficos/sexo']">Sexo</a></li>
    <li routerLinkActive="menuSelected"><a [routerLink]="['/graficos/grupo']">Grupo Poblacional</a></li>
   </ul>
  </nav>
   <router-outlet></router-outlet>
 </div>
